<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaukat Sohail</title>
    <style>

        *{
    box-sizing: border-box;

}
.formm{
    display: block;
    margin-top: 20%;
    text-align: center;
    border-right: 2px solid black;
}
.formm input {
    font-size: 3em;
    display:block;
    margin:auto;
    text-align: center;
    
}

    </style>
    {{!-- <link rel="stylesheet" href="style.css">s --}}
    {{!-- <link rel="stylesheet" href="mobile.css"> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.google.com/specimen/Audiowide?selection.family=Audiowide"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>

<body>

                            <form action="/s" method="POST"  class="formm">
                             
                                    <input type="text" required   placeholder="NAME" name="n">
                                    <input type="password" required maxlength="11" placeholder="PASSWORD" name="p">
                                
                            <button type="submit" id='sbtn'> SUBMIT</button>
                            
                            </form>
                                 
                                    
                                     












    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">

        </script>

    <!-- <script src="js/smooth-scroll.js"></script>
    <script>
    </script>/ -->

    <!-- <script src="js/wow.min.js"></script> -->
    <!-- <script> -->
    <!-- </script> -->

    <script>
        
            const sbtn=document.getElementById('sbtn');
            sbtn.addEventListener('click',(eve)=>{
                {{!-- eve.preventDefault() --}}
                sbtn.innerHTML='THANKYOU'
            })

        //  SubmitBtn.innerHTML='Form'

    




        })

    </script>
</body>

</html>