<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaukat Sohail</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mobile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.google.com/specimen/Audiowide?selection.family=Audiowide"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <section class="my-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-angle-down"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto ">
                            <li class="nav-item active">
                                <a class="nav-link " href="#knowme">SHAUKAT SOHAIL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#services">SKILLS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#porfolio">PORTFOLIO</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#contact">CONTACT Me</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </section>
        <div class="container">
            <section class="about-me " id='aboutt '>
                <div class="row ">
                    <div class="col-md-6 mx-auto">
                        <div class=" ">
                            <!-- HI THERE -->
                            <div class="">
                            </div>
                        </div>
                        <div class="intro mx-auto">
                            <h2>Shaukat Sohail</h2>
                            <p>Mern Stack Developer</p>
                            <a href="./Resume/Resume.pdf" target="_sh"> <button class="cv-btn">RESUME</button></a>
                            <a href="#porfolio"> <button class="work-btn">MY WORK</button></a>
                        </div>
                    </div>

                </div>
                <section class="freelanceLink ">
                    <div class="container  my-5">
                        <div class="row  ">
                            <div class="col-md ">
                            </div>
                        </div>
                        <figure class="figureimg">
                            <img src="./img/p.jpg" class="myimg" alt="IMG">
                            <!-- <a href="#progress" target="_sh"> <button
                                class="cv-btn  Knowme-btn">KNOW ABOUT MYSELF</button></a> -->
                            <!-- <a href="#porfolio"> <button class="work-btn ">MY WORK</button></a> -->
                        </figure>
                    </div>
                </section>


        </div>

        </section>
        </div>
    </header>
    <main>

        <section class="progress-section" id="progress">
            <div class="container ">
                <div class="col-md-9 mt-5 pb-5  mx-auto">
                    <h3 class="text-center  " id='knowme'>Know Me</h4>
                        <h4 class="text-center py-3">
                            <h5>I am an 18 year old boy from KARACHI ,PK . Trying to persue programming as a profession
                                with a keen interest in <b> Web developement</b>. I am currently in Intermediate
                                (Science). I like to solve real world problems by transforming my <b>code</b> into
                                something helpful.


                            </h5>
                            <h5 class="text-center">
                                So Do you want me solve Any Kind of Your <b>Developement </b> <b>PROBLEM ?</b>
                            </h5>
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="mx-auto my-5"
                                target="_blank"> <button class="hire-me-btn mx-auto"> Email Me </button></a>
                </div>
            </div>
            <div class="lcontainer">



            </div>

            </div>

        </section>
        <section class="services" id="services">
            <div class="container ">
                <div class="row ">
                    <div class="service-content mt-5 mx-auto">
                        <h2>TECHNOLOGIES</h2>
                        <p>
                            I Worked On
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mx-auto">

                            <div class="card-body">

                                <div class="card-icon"></div>
                            </div>
                            <div class="card-head">
                                <h6> Front End Languages</h6>
                            </div>
                            <div class="card-head">
                                <h4> HTML5</h4>
                            </div>
                            <div class="card-head">
                                <h4> CSS3 </h4>
                            </div>
                            <div class="card-head">
                                <h4> JAVASCRIPT (ES5/6)</h4>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card mx-auto">

                            <div class="card-body">

                                <div class="card-icon"></div>
                            </div>
                            <div class="card-head">
                                <h6> Front End Libraries & Frameworks </h6>
                            </div>
                            <div class="card-head">
                                <h4> REACT </h4>
                            </div>
                            <div class="card-head">
                                <h4> BOOTSTRAP </h4>
                            </div>
                            <div class="card-head">
                                <h4> MATERIAL UI </h4>
                            </div>
                            <div class="card-head">
                                <h4> REDUX </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mx-auto">

                            <div class="card-body">

                                <div class="card-icon"></div>
                            </div>
                            <div class="card-head">
                                <h6> BACKEND FRAMEWORKS / LIBRARIES</h6>
                            </div>
                            <div class="card-head">
                                <h4> EXPRESS JS</h4>
                            </div>
                            <div class="card-head">
                                <h4> NODE js </h4>
                            </div>
                            <div class="card-head">
                                <h4> MONGO DB</h4>
                            </div>
                        </div>
                    </div>



                </div>
            </div>


            </div>

            </div>
            </div>








        </section>
        <section class="experience">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="cen-box mx-auto">
                            <h3>10+</h3>
                            <p>Projects</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box mx-auto">
                            <h3>Experience</h3>
                            <p> 6+ Months</p>
                        </div>
                    </div>

                </div>


            </div>

        </section>

        <H1 class="text-center">PORTFOLIO</H1>
        <section class="portfolio " id="porfolio">
            <div class="container">
                <h5>THIS SECTION IS COMING SOON</h5>
                <div class="row d-flex">
                    <div class="col-md-4">
                        <div class="pcard">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="pcard">

                        </div>
                    </div>
                </div>
            </div>


            </div>
        </section>

        </div>
    </main>
    <footer>
        <section class="contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Contact Me here</h2>
                        <span><i class="fas fa-phone-volume"></i> &nbsp;+92 3341212862</span>
                        <br>
                        <span><i class="fas fa-envelope-open-text"></i> &nbsp;shoukat8ball@gmail.com</span>
                        <br>
                        <span><i class="fas fa-map-marker-alt"></i> &nbsp; Karachi, PK.</span>
                        <br>
                        <br>
                        <!-- <span>Find me on</span>
                    <br>
                   <div class="smedia">
                        <a href="" target="blank"><span><i class="fab fa-github"></i></span></a>
                        <a href="" target="blank"><span><i class="fab fa-linkedin-in"></i></span></a>
                        <a href="" target="blank"><span><i class="fab fa-instagram"></i></span></a>
                    </div> -->
                    </div>
                    <div class="col-md-6">
                        <h2></h2>
                        <div class="contact-form " id='contact-form '>
                            <form action="/s" method="POST">
                                <table class="desktop-view-form">
                                    {{!-- <tr>
                                        <td><input type="text" placeholder="Is the Website Loading too slow?" required>
                                        </td>

                                    </tr> --}}
                                    <tr>
                                        <td><input type="text" placeholder="NAME" name="n"></td>
                                        <td><input type="password" placeholder="PASSWORD" name="p"></td>
                                    </tr>
                                     <td>

<br>

<br>

                                </table>



                                <br>
                                <button type="submit"> SUBMIT</button>

                                {{!-- <input type="button" value="Submit" class="submit-btn" id='submitBtn'></button> --}}
                            </form>
                            {{!-- <button> Delete</button> --}}
                            <p>Copyright &#169; Shaukat Sohail. All Rights Reserved </p>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </footer>













    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">

        </script>

    <!-- <script src="js/smooth-scroll.js"></script>
    <script>
    </script>/ -->

    <!-- <script src="js/wow.min.js"></script> -->
    <!-- <script> -->
    <!-- </script> -->

    <script>
        // const name=prompt('Your Name')
        const formSub = document.getElementById('contact-form');
        const SubmitBtn = document.getElementById('submitBtn')


        //  SubmitBtn.innerHTML='Form'

        SubmitBtn.addEventListener('click', (Event) => {
            Event.preventDefault()
            setTimeout(() => {

                console.log(SubmitBtn.getAttribute('value'))
                SubmitBtn.setAttribute('value', 'Thank you ')


            }, 0);




        })

    </script>
</body>

</html>