*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;


}
html{
    scroll-behavior:smooth;
}


@media screen and (max-width: 995px){

    .progress-section img { 
        height: 300px;
        width: 320px;
    }
    .pcard{
        width: 100%;
    }

    .myimg{
        width: 54%;
        /* height: 50%; */
        /* margin-left: 25%; */
        margin-top: 14%;
   
    }
    .Knowme-btn{
        margin-left: 64%;
        margin-top: -56%;
        height: 6.5rem;
       width: 9rem;
       background-color: #11381c;
       outline: none;
       border: none;
       border-radius: 50px 50px;
    }
    
    .progress-section {
        margin-top: 8rem;
        color: rgb(255, 255, 255);
        background-color:#343b46;
        /* border-radius: 75% 36% 95% 68%; */
        transform: skewX(9deg) skewY(2deg) ;
    
    }
}
@media screen and (max-width:1200px){
    .card-head h6 {
        text-align: right;
        font-size: 0.9rem;
        
    }
    .pcard{
        width: 100%;
    }
    .progress-section {
        margin-top: 8rem;
        color: rgb(255, 255, 255);
        background-color:#343b46;
        /* border-radius: 75% 36% 95% 68%; */
        transform: skew(6deg) ;
    
    }
    
}

    @media screen and (max-width:845px){
         .contact-form input {
             width: 20rem;
         }
         .my-navbar{
             z-index: 17;
             background-color: white;
         }
         .contact-form textarea{
            width: 20rem;
         }
         .pcard{
            width: 100%;
        }
        .progress-section {
            transform: skewX(18deg) skewY(7deg);
        
        }
        .contact-form input {
            width: 23rem;

        }
        
         
        }
@media screen and (max-width:760px){
        .contact-form input  { 
          width: 25rem;
          text-align: center;
        }
          .my-navbar{
            z-index: 17;
            background-color: white;
        }
           
         }
         .pcard{
            width: 100%;
        }
        .progress-section {
            margin-top: 4rem;
            color: rgb(255, 255, 255);
            background-color:#343b46;
            /* border-radius: 75% 36% 95% 68%; */
            transform: skewX(18deg) skewY(8deg);
        }
         
         .contact-form textarea{
            width: 25rem;
         }
        

@media screen and (max-width:750px){
        .contact-form input  { 
          width: 25rem;
        
         }
         .my-navbar{
            z-index: 17;
            background-color: white;
        }
         
         .contact-form textarea{
            width: 25rem;
         }
         .pcard{
            width: 100%;
        }
        .progress-section {
            margin-top: 4rem;
            color: rgb(255, 255, 255);
            background-color:#343b46;
            /* border-radius: 75% 36% 95% 68%; */
            transform: skewX(18deg) skewY(5deg);
        
        }
        
        }
        
@media screen and (max-width:1000px){
    .picture img {
        height: 300px !important;
        width: 200px !important;
        margin-top: 11rem;
}
.pcard{
    width: 100%;
}
.my-navbar{
    z-index: 17;
    background-color: white;
}
}
@media screen and (max-width:750px){
    .picture img {
        height: 100% !important;
        width: 400px !important;
    }
    .progress-section img { 
        height: 340px;
        width: 360px;

    }
    .pcard{
        width: 100%;
    }
    .my-navbar{
        position: fixed;
        z-index: 17;
        background-color: white;
    }
    .card-head h6 {
        text-align: center;
        font-size: 1rem;
    }
    .intro h1{
    
        margin-left: 25%;
    }
    .intro p{
        font-size: 1.9rem;
        transform:skewX(30deg) skewY(4deg);
    }

    

    .progress-section {
        margin-top: 5rem;
        color: rgb(255, 255, 255);
        background-color:#343b46;
        /* border-radius: 75% 36% 95% 68%; */
        transform: skewX(10deg) skewY(2deg);
    
    }
   
       
    
     

@media screen and (max-width:450px){
    .contact-form input  { 
        width: 20rem;
       }
       .pcard{
        width: 100%;
    }
    .progress-section {
        margin-top: 4rem;
        color: rgb(255, 255, 255);
        background-color:#343b46;
        /* border-radius: 75% 36% 95% 68%; */
        transform: skewX(7deg) skewY(2deg);
    
    }
    .intro {
    
        margin-top: 10rem;
        margin-left: 6rem;
    
    }
    .intro h2 {
        margin-left: 5%;
        /* font-family: 'Poppins', sans-serif; */
        
        font-size: 3.3rem;
        /* box-shadow: 2px black; */
        transform: skewX(23deg) skewY(6deg);
    
        font-weight: bold;
        margin-top: -3rem;
    }
    .intro p {
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        font-size: 1.7rem;
        transform: skewX(21deg) skewY(4deg);
        
    }
    .hello-box{
        display: none;
    }


       .my-navbar{
        position: fixed;
        z-index: 17;
        background-color: white;
    }
       
       .contact-form textarea{
          width: 20rem;
       }
      }
      .picture img {
          height: 300px !important;
          width: 300px !important;
      }
      .progress-section img {
        height: 300px !important;
        width: 300px !important;
      }
}
@media screen and (max-width:370px){
    .contact-form input  { 
        width: 20rem;
        margin-left: 0rem;

         
       }
       .my-navbar{
        position: fixed;
        z-index: 17;
        background-color: white;
    }
    .progress-section {
        margin-top: 8rem;
        color: rgb(255, 255, 255);
        background-color:#343b46;
        /* border-radius: 75% 36% 95% 68%; */
        transform: skewX(5deg) skewY(5deg);
    
    
    }
   

    /* .my-navbar{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        height: 20px;
    } */
    .pcard{
        width: 100%;
    }
       
       .contact-form textarea{
          width: 15rem;
       }
       .picture img {
        height: 250px !important;
        width: 250px !important;
    }
    .progress-section img {
      height: 250px !important;
      width: 250px !important;
    }
    
      }
    
@media screen and (max-width:330px){
    .intro h2 {

        font-size: 2rem;
        
    }
    .progress-section {
        margin-top: 3rem;
        color: rgb(255, 255, 255);
        background-color:#343b46;
        /* border-radius: 75% 36% 95% 68%; */
        transform: skewX(6deg) skewY(3deg);
    
    }
    .my-navbar{
        position: fixed;
        z-index: 17;
        background-color: white;
    }
    .pcard{
        width: 100%;
    }
    .contact-form input  { 
        width: 17rem;
        margin-left: 0rem;

         
       }
}
.fa, .fas {
    font-weight: 900;
    width: 4vw;
    margin-top: 4%;
}
.intro p{
    font-size: 1.6rem;
}
.intro h2 {
    font-size: 3.2rem;
}